<form class="" action="/pupdates/<%= @pupdate.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Title:</label>
  <input type="text" name="title" value ="<%= @pupdate.title %>">
  <label for="content">Content:</label>
  <textarea name="content" style="width:auto; height:auto;"><%= @pupdate.content %></textarea>
  
  <input type="submit" name="" value="Edit Pupdate">
</form>